.header__lang-link {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    display: inline-block;
    margin: 0 0 5px 14px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media all and (max-width: 1024px) {
    .header__lang-link {
        margin-bottom: 1px;
        line-height: 145%;
    }
}

@media all and (max-width: 332px) {
    .header__lang-link {
        margin: 0 0 7px 14px;
        font-size: 18px;
        line-height: 111%;
    }
}