.place__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 103%;
    margin: 0;
}

@media all and (max-width: 860px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
        padding-right: 10px;
    }
}

@media all and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
        margin-left: 16px;
        margin-right: 16px;
    }
}