.photo-grid {
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    max-width: 1184px;
    padding: 0 48px 0;
    justify-items: center;
}

@media all and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 93px;
        gap: 14px;
    }
}

@media all and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 24px 0;
        gap: 16px;
        margin-top: 88px;
    }
}

@media all and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: 1fr;
        padding: 0 16px 0;
        gap: 12px;
        margin-top: 64px;
    }
}

@media all and (max-width: 320px) {
    .photo-grid {
        margin-top: 66px;
    }
}