.places {
    max-width: 984px;
    margin: 96px auto 0;
}

@media all and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media all and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-top: 90px;
    }
}

@media all and (max-width: 320px) {
    .places {
        max-width: 320px;
        margin-top: 64px;
    }
}