.lead__subtitle {
    text-align: center;
    margin: 32px auto 0;
    max-width: 640px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
}

@media all and (max-width: 750px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
    }
}

@media all and (max-width: 490px) {
    .lead__subtitle {
        margin-top: 14px;
        margin-left: 16px;
        margin-right: 16px;
    }
}