.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 91px auto 0;
    padding-bottom: 24px;
}

@media all and (max-width: 768px) {
    .footer {
        margin-top: 88px;
    }
}

@media all and (max-width: 600px) {
    .footer {
        flex-direction: column;
        margin-top: 32px;
    }
}